{% extends 'base.html' %}
{% load static %}
{% block title %}点云上采样{% endblock %}

{% block css %}
{% endblock %}

{% block breadcrumb %}
<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        牙齿特征点检测
        <small>展示</small>
        <button id="back-btn" class="btn btn-xs btn-success">返回上一级</button>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/index/"><i class="fa fa-user"></i>主页</a></li>
        <li><a href="/sceneseg-display-page/"><i class="fa fa-tags"></i>牙齿特征点检测</a></li>
        <li class="active">模型展示</li>
      </ol>
    </section>
{% endblock %}

{% block content %}
   <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h3>
            <span class="label label-default">模型名：{{pc_name}}</span>
          </h3>
        </div>
      </div>
      <div class="row">
        <div class='col-xs-4'>
          <div class="text-center">
            <h4>
            <span class="label label-default">分割结果</span>
            </h4>
          </div>
          <div id="canvas-seg"></div>
          <div id="progress-raw" class="progress progress-striped">
            <div id="progress-bar-raw" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
              0%
            </div>
          </div>
        </div>
        
        <div class='col-xs-4'>
          <div class="text-center">
            <h4>
            <span class="label label-default">牙齿特征点</span>
            </h4>
          </div>
          <div id="canvas-landmark"></div>
          <div id="progress-color" class="progress progress-striped">
            <div id="progress-bar-color" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
              加载完成
            </div>
          </div>
        </div>

        <!--
        <div class='col-xs-4'>
          <div class="text-center">
            <h4>
            <span class="label label-default">分割场景</span>
            </h4>
          </div>
          <div id="canvas-seg"></div>
          <div id="progress-seg" class="progress progress-striped">
            <div id="progress-bar-seg" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
              0%
            </div>
          </div>
        </div>
        -->
      </div>
    </section>

{% endblock %}

{% block script %}
<script>
$(function () {
    $('#back-btn').click(function () {
      window.location.href = '/sceneseg-display-page/';
    });

    let seg_file_path = '{{ seg_file_path | escapejs}}';
    let landmark_mesh_files = {{ landmark_mesh_files | safe}}
    let landmark_point_files = {{ landmark_point_files | safe}}
    let opts = {
        'height_ratio': 1.6,
        'scale_ratio': 140
    };

    let opts_seg = JSON.parse(JSON.stringify(opts));
    opts_seg['doc_progress_bar_id'] = 'progress-bar-raw'; opts_seg['doc_progress_id'] = 'progress-raw';
    ply_vis(seg_file_path, 'canvas-seg', opts_seg);

    let opts_landmark = JSON.parse(JSON.stringify(opts));
    opts_landmark['doc_progress_bar_id'] = 'progress-bar-color'; opts_landmark['doc_progress_id'] = 'progress-color';
    ply_vis_landmark(landmark_mesh_files, landmark_point_files, 'canvas-landmark', opts_landmark);
});
</script>

{% endblock %}
