{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>口扫模型分割-特征点检测平台</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  
  <!--
  <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  -->

  <link rel="stylesheet" href="{% static 'external/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'external/font-awesome-4.7.0/css/font-awesome.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/skins/skin-blue.css' %}" />
  <link rel="stylesheet" href="{% static 'css/base-conf.css' %}" />
  
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">


  <header class="main-header">
    <!--<a href="#" class="logo"></a>-->
    <nav class="navbar navbar-static-top" role="navigation">
        <ul class="nav navbar-nav">
            <li><a href="{% url 'PointCloudManage:index' %}"><i class="fa fa-user"></i> 首页</a></li>
            <li><a href="{% url 'PointCloudManage:pcupsample-display-page' %}"><i class="fa fa-television"></i> 口扫模型下采样</a></li>
            <li><a href="{% url 'PointCloudManage:sceneupsample-display-page' %}"><i class="fa fa-adjust"></i> 口扫模型渲染</a></li>
            <li><a href="{% url 'PointCloudManage:segdataset-display-page' %}"><i class="fa fa-print"></i> 分割数据集展示</a></li>
            <li><a href="{% url 'PointCloudManage:sceneseg-display-page' %}"><i class="fa fa-tags"></i> 场景分割展示</a></li>
            <li><a href="{% url 'PointCloudManage:mypcbase-upload-page' %}"><i class="fa fa-upload"></i> 点云模型上传</a></li>
            <li><a href="{% url 'PointCloudManage:mypcbase-display-page' %}"><i class="fa fa-folder"></i> 我的点云模型库</a></li>
        </ul>
    </nav>
  </header>


  <div class="content-wrapper">
    {% block breadcrumb %}{% endblock %}
    <section class="content container-fluid">
      {% block content %}{% endblock %}
    </section>

  </div>

</div>

<!-- 
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="http://www.yanhuangxueyuan.com/threejs/build/three.min.js"></script>
<script src="http://www.yanhuangxueyuan.com/threejs/examples/js/controls/OrbitControls.js"></script>
<script src="http://www.yanhuangxueyuan.com/threejs/examples/js/loaders/OBJLoader.js"></script>
<script src="http://www.yanhuangxueyuan.com/threejs/examples/js/loaders/PLYLoader.js"></script> 
-->

<script src="{% static 'external/jquery.min.js' %}"></script>
<script src="{% static 'external/bootstrap.min.js' %}"></script>
<script src="{% static 'external/three.min.js' %}"></script>
<script src="{% static 'external/OrbitControls.js' %}"></script>
<script src="{% static 'external/OBJLoader.js' %}"></script>
<script src="{% static 'external/PLYLoader.js' %}"></script>
<script src="{% static 'js/base-conf.js' %}"></script>
<script src="{% static 'js/utils.js' %}"></script>

{% block script %}{% endblock %}

</body>
</html>